<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="PHPUnit">
    <option name="directories">
      <list>
        <option value="D:/BaiduNetdiskDownload/615309 php和mysql  web开发（第5版）pdf+源码/9780321833891_PHPMySQLWebDev5E_code_20170221/Chapter28-29-WebMail/tests" />
      </list>
    </option>
  </component>
</project>